<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
	<h1>AI BASED OPINION PREDICTION</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict_text')}}"method="post">
      <input type="text" name="Enter your text" placeholder="Enter your text" required="required" /><br>
    	

       

        <button type="submit" class="btn btn-primary btn-block btn-large">predict_text</button>
    </form>

   <br>
   <br>
  
   
 </div>
 <font size="+2000">{{prediction_text}}</font>

</body>
</html>